@import "../../constants/variables.scss";

.signinContainer {
	background-color: #f9f9f9;
	margin: 10% auto 0;
	width: 45%;

	& .header {
		background: linear-gradient(to bottom, #444444, #4b586a 10%);
		background-color: $container-background-color;
		color: #fff;
		text-align: center;
		font-weight: bold;
	}

	& table {
		table-layout: fixed;
		width: 100%;

		& tr td:first-child {
			padding-right: 1rem;
			text-align: end;
			width: 25%;
		}
		& tr td:last-child {
			padding-right: 1rem;
			width: 66%;
			& input[type="text"],
			input[type="password"] {
				border: 1px solid #ddd;
				font-size: 0.8rem;
				font-weight: bold;
				width: 100%;
			}
		}

		input[type="button"] {
			margin-top: 5px;
			&.invalid {
				color: #ccc;
			}
		}
	}

	.links a,
	a:visited,
	a:hover {
		text-decoration: none;
		color: $link-color-active-light-background;

		&:hover {
			color: $link-color-hover-light-background;
		}
	}
	.alert {
		color: red;
		font-style: italic;
		font-size: 9pt;
		margin: 0 1rem -.6rem;
	}
}
.socialMediaButtons {
	align-content: flex-start;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 45%;

	& button {
		align-items: center;
		background-color: $button_active-background-color;
		display:flex;
		flex-grow: 1;
		justify-content: flex-start;
		padding: .3rem  1rem;
		border-radius: 1rem;
		border: none;
		color: white;
		font-size:smaller;

		&:nth-of-type(2) {
			margin: 0 1rem;
		}

		&:hover {
			color: $link-color-hover-dark-background;
		}

		& svg {
			color: $button-svg-color
		}
	}	
}
