@import "../../constants/variables.scss";

.passwordResetContainer {
	background-color: #f9f9f9;
	margin: 10% auto;
	width: 45%;
	height: 12rem;

	& .header {
		background: linear-gradient(to bottom, #444444, #4b586a 10%);
		background-color: $container-background-color;
		color: #fff;
		text-align: center;
		font-weight: bold;
	}
	& .table {
		height: 50%;
		padding: 0.5rem;
		width: 100%;

		.firstRow {
			& input {
				border: 1px solid #ccc;
				margin-left: 1rem;
				width: 85%;
			}
		}

		input[type="submit"] {
			width: 40%;
			align-self: flex-end;
		}
		& .links {
			margin-top: 1rem;
			& a:hover {
				text-decoration: none;
				font-weight: bold;
			}
		}
	}
	.alert {
		color: #ce1d1d;
		font-style: italic;
		padding-top: 0.5rem;
	}
}
