@import "../../constants/variables.scss";

div.signinContainer {
	background-color: #f9f9f9;
	border: 1px solid #444;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 50px auto 0;
	text-align: left;
	width: fit-content;

	& input {
		margin: 0 15px 2px;
	}

	.header {
		width: 100%;
		height: 25px;
		background-image: url("/includes/img/top-bottom.gif");
		color: #fff;
		text-align: center;
		padding-top: 5px;
		margin-bottom: 10px;
		font-variant: small-caps;
		font-weight: bold;
	}

	table {
		font-size: 0.95em;
		width: 100px;
		margin-left: auto;
		margin-right: auto;

		label {
			float: right;
		}
		input[type="text"],
		input[type="password"] {
			border: 1px solid #000;
			width: 190px;
		}

		input[type="submit"] {
			font-size: 10px;
			margin-top: 5px;
			&.invalid {
				color: #ccc;
			}
		}
		a {
			text-decoration: none;
		}
		.alert {
			color: red;
			margin: 1rem;
		}
	}
}

.signOutButton {
	background: url("/includes/img/logout.png") no-repeat right;

	&:hover {
		color: $link-color-hover-yellow;
		font-weight: bold;
	}
}
