$button_disabled-background-color: #63809d;
$container-background-color: #dfe0e2;
$input-container-background-color: lightslategray;
$container-border-radius: 1rem;
$column-background-color: #4784bf;
$column-border: 1px solid #444;
$column-border-radius: 1rem;
$column-padding: 2rem 1rem 1rem 1rem;
$row-height: 25%;
$row-height-high: 40%;
$row-height-slim: 10%;
$row-height-fit-content: "fit-content";
$h1-font-size: 14pt;
$label-font-size: 11pt;
$link-color-hover-dark-background: yellow;
$link-color-hover-light-background: blue;
$link-color-active-dark-background: rgb(200, 200, 15);
$link-color-active-light-background: rgb(18, 18, 119);

$link-color-disabled-light-background: #e83030;
$link-color-hover-light-background: #898790;
$text-color: white;
