$button-background-color: #4784bf;
$container-background-color: #c9cccc;
$container-border-radius: 1rem;
$column-background-color: #4784bf;
$column-border: 1px solid #444;
$column-border-radius: 1rem;
$column-padding: 2rem 1rem 1rem 1rem;
$row-height: 25%;
$row-height-high: 205;
$row-height-slim: 30%;
$h1-font-size: 14pt;
$link-color-hover-yellow: yellow;
$link-color-hover-blue: blue;
