.containerAdmin {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(5, 150px);
	grid-template-areas:
		"address address registrations"
		"address address registrations"
		"deliveryconditions deliveryconditions deliveryconditions"
		". . ."
		"footer footer footer";
	grid-row-gap: 5%;
	grid-column-gap: 5%;
	width: 100%;
	margin: 0 auto;
}

.address {
	border: 1px solid red;
	grid-area: address;
}

.registrations {
	border: 1px solid red;
	grid-area: registrations;
}

.deliveryconditions {
	border: 1px solid red;
	grid-area: deliveryconditions;
}

.footer {
	border: 1px solid red;
	grid-area: footer;
}
