@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "./../../constants/variables.scss";

.navContainer {
	width: 1024px;
	margin: auto;
}

.container {
	background-color: $container-background-color;
	border-radius: $container-border-radius;
	font-family: "Montserrat", sans-serif;
	height: 800px;
	padding: 2rem;
	width: 1024px;
}

// style the row

.row {
	height: $row-height;

	&.high {
		height: $row-height-high;
	}
	&.slim {
		height: row-height-slim;
	}
}
// style the columns
*[class^="col"] {
	font-family: "Montserrat", sans-serif;
	background-color: $column-background-color;
	border-radius: $column-border-radius;
	border: $column-border;
	padding: $column-padding;
	// add margin between cols
	background-clip: padding-box;
	border: 10px solid transparent;

	& h1 {
		font-size: $h1-font-size;
		margin-top: 0.3rem;
	}

	& fieldset {
		border: 1px solid #aaa;
		border-radius: 0.5rem;
		padding: 1rem;
		height: 100%;

		& legend {
			width: max-content;
		}
	}
}
