@import "../../../constants/variables.scss";

.container {
	width: fit-content;
	border: 1px solid #aaa;
	border-radius: 0.5rem;
	padding: 1rem 4rem 1rem 1rem;
}

button {
	line-height: 1;
}

select {
	height: fit-content;
	width: 100%;
	overflow: hidden;
	padding: 0 1rem;
	text-overflow: ellipsis;
}

label {
	display: block !important;
	font-size: $label-font-size;
	margin-right: 0.3rem;
}
