@import "../../../constants/variables.scss";

.container {
	border-color: #ddd;
	border-radius: 0.5rem;
	border-style: inset;
	border-width: 2px;
	margin-bottom: 1rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	padding: 1rem;
	width: fit-content;
}

.selectComponent {
	& button {
		height: fit-content;
		line-height: 1;
		margin-left: 0.5rem;
		padding: 0.5rem;
	}

	& select {
		height: fit-content;
		margin: 0;
		overflow: hidden;
		padding: 0;
		text-overflow: ellipsis;
	}

	& label {
		font-weight: bold;
		margin-right: 0.5rem;
		font-size: $label-font-size;
		white-space: nowrap;
	}

	& .cursor-help {
		cursor: help;
	}
}
