@import "./../../constants/variables.scss";

.table {
	background-color: $column-background-color;
	table-layout: fixed;

	tr {
		height: 3rem;
		th {
			background-color: #4c4c50;
			color: white;
			font-weight: bold;
		}

		td {
			color: white;
			cursor: pointer;
		}
	}
}
.inputDate {
	width: 40%;
	&.selectCompanies {
		display: block;
	}
}

label {
	display: block;
}

textarea {
	width: 100%;
}

.row.react-bootstrap-table-pagination > :first-child {
	background-color: #4c4c50;
	padding: 0.5rem;
}

// ======================================================
// ============= CLASS INVOICE ==========================
// ======================================================

.inputRow {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: -1rem;
	width: 100%;
}

.rateInputs {
	display: flex;
	justify-content: space-evenly;
	& .hourlyRate,
	& .hours,
	& .tax {
		border: none;
		margin: 0;
		& label {
			margin-bottom: 0.7rem;
			width: 7rem;
		}
		& :first-of-type[type="number"],
		:nth-of-type(2)[type="number"],
		select {
			background-color: white;
			border: 1px solid #ccc;
			font-weight: bold;
			margin: 0 0.3rem 0.5rem 0;
			padding: 0.2rem 0.5rem;
			text-align: right;
			width: 4rem;
		}
		& :nth-of-type(2)[type="number"] {
			margin-left: 0.3rem;
			padding-left: 0.5rem;
			text-align: left;
		}
	}
}

.descriptionRowLabel {
	display: inline-block;
	&:first-of-type {
		width: 73%;
	}
	&:nth-of-type(2) {
		width: 10%;
	}
	&:nth-of-type(3) {
		width: 10%;
	}
	&:last-of-type {
		width: 5%;
	}
}
.descriptionRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	& input {
		color: white;
		background-color: #cccccc55;
		border-bottom: none;
		border-right: none;
	}

	& span.currency {
		margin: 0 0.5rem;
	}

	& .description {
		width: 80%;
	}
	& .hourlyrateInt {
		width: 10%;
		margin-right: 0.1rem;
		text-align: center;
	}

	& .hours {
		width: 5%;
		margin-right: 0.1rem;
	}

	& .total {
		background-color: #48474b;
		margin-left: 1rem;
		text-align: center;
		width: 10%;
	}
}
