@import "./../../constants/variables.scss";

.table {
	background-color: $column-background-color;
	table-layout: fixed;

	tr {
		height: 3rem;
		th {
			background-color: #4c4c50;
			color: white;
			font-weight: bold;
		}

		td {
			color: white;
			cursor: pointer;
		}

		& span.actionIcons svg {
			transition: all 0.5s ease-in-out;
			&:hover {
				color: darken($color: #e26d6d, $amount: 0);
				transform: rotate(90deg) scale(1.5);
			}
			&:first-child {
				margin-right: 0.5rem;
			}
			&:last-child {
				margin-left: 0.5rem;
			}
		}
	}
}
