@import "../../../constants/variables.scss";

.container {
	border-color: #ddd;
	border-radius: 0.5rem;
	border-style: inset;
	border-width: 2px;
	margin-bottom: 1rem;
	padding: 1rem 4rem 1rem 1rem;
	width: fit-content;
}

.inputComponent {
	& input[type="text"] {
		width: 100%;
	}

	& label {
		font-weight: bold;
		margin-right: 0.5rem;
		font-size: $label-font-size;
		white-space: nowrap;
	}
	
	& .cursor-help {
		cursor: help;
	}
}
