@import "../../../constants/variables.scss";

.container {
	width: fit-content;
	border-color: #ddd;
	border-radius: 0.5rem;
	border-width: 2px;
	border-style: inset;
	padding: 1rem 4rem 1rem 1rem;
}

.inputComponent {
	& input[type="text"] {
		width: 100%;
	}

	& label {
		font-weight: bold;
		margin-right: 0.5rem;
		font-size: $label-font-size;
	}
}
